<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Opus Repository</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"> </script>
</head>

<body>
  
  <ul id="navul">
    <li class="left"><a href="/"><img class="navlia"  src="{{ url_for('static', filename='images/opus_white.png') }}" style="height: 67px; padding: 0px 0px"></a></li>
    {% if session.logged_in %}
    <li class="right"><a class="navlia" href="/logout">logout</a></li>
    <li class="right"><a class="navlia"><span id="username">{{ session.username }}</span></a></li>
    {% else %}
    <li class="right"><a class="navlia" href="/login">login</a></li>
    <li class="right"><a class="navlia" href="/register">register</a></li>
    {% endif %}
  </ul>

  <div id="message-div">
    <div style="float: left">
      <ul id="flash-msgs" class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </ul>

      <ul id="messages">
      </ul>
    </div>
    <button id="clear-messages" class="tooltip">X
    <span class="tooltiptext">Clear messages</span></button>
  </div>
  <div style="clear: both"></div>
  
{% block content %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"> </script>

</body>
</html>
