{% extends "base.html" %}
{% block content %}

{% if edit == True %}
<h3 style="margin-left: 20px">Edit group</h3>
{% else %}
<h3 style="margin-left: 20px">Create group</h3>
{% endif %}

<form id="group_form" method="post" style="padding: 20px">
  <table style="float: left; padding-right: 20px">
    <tr>
      <td align="right">name:</td>
      <td><input type="text" name="name" value="{{ name }}" {% if edit == True%}readonly{% endif %}></td>
    </tr>
    {% if owner == True %}
    <tr>
      <td align="right">select members:</td>
      <td>
	<select id="userlist">
	  {% for user in users %}
	  <option id="select-option-user-{{ user }}">{{ user }}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button id="adduser" type="button">Add</button></td>
    </tr>
    {% endif %}
    <tr>
      <td align="right" valign="top">members:</td>
      <td>
	<ul id="selected-users">
	  <li>{{ session.username }}</li>
	  {% if owner == False %}
	  {% for member in members %}
	  <li>{{ member }}</li>
	  {% endfor %}
	  {% endif %}
	</ul>
      </td>
    </tr>
    <tr>
      <td><input type="text" name="members" id="members" style="display: none" readonly></td>
      {% if owner == True %}
      <td><input type="submit" name="submit" value={% if edit == True %}"Save"{% else %}"Create"{% endif %}></td>
      {% endif %}
    </tr>
  </table>
  <!--
  <span style="float: left; padding-right: 10px">description:</span>
  <textarea style="float: left" rows="10" cols="40" name="description">{{ description }}</textarea>
  -->
</form>

<script type="text/javascript" src="{{ url_for('static', filename='create_group.js') }}"> </script>
{% if owner == True %}
{% for member in members %}
<script>adduser("{{ member }}");</script>
{% endfor %}
{% endif %}
{% endblock %}
