{% extends "base.html" %}
{% block content %}

<ul id="messages">
</ul>

<div>
  <div style="padding: 20px; float: left">
    <b>My corpora</b>
    <form style="display: inline" action="/create_corpus"><input type="submit" value="+"></form>
    <ul id="corpora" style="padding-left: 0px">
      {% for corpus in corpora %}
      <li id="corpus-li-{{ corpus }}"><a href="/show_corpus/{{ corpus }}">{{ corpus }}</a>
      <button class="remove-item-button" corpusname="{{ corpus }}">X</button></li>
      {% endfor %}
  </div>
  <div style="padding: 20px; float: left">
    <b>My groups</b>
    <form style="display: inline" action="/create_group"><input type="submit" value="+"></form>
    <ul id="groups" style="padding-left: 0px">
      {% for group in groups %}
      <li id="group-li-{{ group[0] }}"><a href="/edit_group/{{ group[0] }}">{{ group[0] }}</a>
	{% if group[1] == session.username and group[0] != session.username %}
	<button class="remove-item-button" groupname="{{ group[0] }}">X</button>
	{% endif %}
      </li>
      {% endfor %}
  </div>
  <div style="padding: 20px; float: right">Search corpus: <input id="searchcorpus">
    <ul id="searchresult"></ul>
  </div>
</div>

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='opus_interface.js') }}"> </script>
{% endblock %}
